@font-face {
	font-family: "grantTheAuto";
  src: url("../../Fonts/660_pricedown_rus.ttf");
}
.UserInfo {
	display: flex;
	
	flex-direction: column;
	&__title {
		text-align: end;
		padding: 2px 0;
		text-transform: uppercase;
		color: #235938;
		font-size: 35px;
		border-bottom: 4px solid #CCCCCC;
		margin-bottom: 8px;
	}

	
	
	&__menu {
		display: flex;
		justify-content: space-between;
		gap:5px;
	}

	&__menu-button {
		width: 30%;
		font-size: 20px;
		text-transform: uppercase;
		color: white;
		background-color: #116B37;
		padding: 10px 0px;
		border-radius: 30px;
		margin-top: 20px;
		transition: 0.2s;
		text-decoration: none;
		align-items: center;
		display: flex;
		justify-content: center;
		
	}
	&__menu-button:hover {
	
		background-color: #114D29;
		cursor: pointer;
		
	}
}
.top {
	display: flex;
	
	font-size: 39px;
	margin-bottom: 20px;
	&__avatar {
		border: 2px #19703C solid;
		border-radius: 140px;
		margin-right: 40px;
		margin-left: 10px;
	}

	&__info {
		display: flex;
		flex-direction: column;
		align-items:flex-start
	}

	&__login {
	}

	&__money {
		
		
	}
}
.UserInfo {

	&__data {
	}

	&__data-item {
		text-align: start;
		font-size: 35px;
		border-bottom: 3px solid #CCCCCC;
		padding-top: 20px;
		padding-bottom: 3;
		padding-right: 10px;
	}
}
