.header{
	background-image: url(../../image/headerFon.jpg);
	background-repeat: no-repeat;
	position: relative;
	z-index: 2;
	background-size:auto;
	padding-top:20px;
	overflow: hidden;
	background-position-y: -420px;
	
	
}