<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <!-- File Appender -->
        <File name="File" fileName="logs/hibernate.log">
            <PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %m%n" />
        </File>
    </Appenders>

    <Loggers>
        <!-- Log everything in hibernate -->
        <Logger name="org.hibernate" level="info" additivity="false">
            <AppenderRef ref="File" />
        </Logger>

        <!-- Log SQL statements -->
        <Logger name="org.hibernate.SQL" level="trace" additivity="false">
            <AppenderRef ref="File" />
        </Logger>

        <Root level="error">
            <AppenderRef ref="File" />
        </Root>
    </Loggers>
</Configuration>